img {
    height: 100px;
}

header {
    height: 27px;
    width: 100%;
    padding: 1rem;
    padding-left: 0px;
    color: white;
    background: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: solid 1px rgb(192, 192, 192);
}

body{
    padding-top:85px;
    background-color: rgb(248, 248, 248);
}

.top{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.mlogo{
    display: flex;
    margin-right: 6px;
}

.minput{
    display: none;
}

.minput input{
    height: 34px;
    width: 245px;
    border: 0;
    border-radius: 7px;
    outline: none;
    background-color: rgb(238, 238, 238);
    padding-left: 20px;
    color: rgb(133, 133, 133);
}

.mbutton{
    display: flex;
    align-items: center;
    margin-left: 75px;
    margin-top: 8px;
}

.mbutton button{
    height: 30px;
    outline: none;
    border: none;
    background-color: white;
    margin-right: 9px;
    cursor: pointer;
    border-radius: 100px;
}

.box{
    height: 80px;
    width: 80px;
    border-radius: 70%;
    overflow: hidden;
}

.profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: -20px;
}

.profileimg{
    margin-right: 20px;
}

.jungbo1{
    margin-top: -50px;
    align-items: center;
    display: flex;
    font-size: 29px;
    font-weight: 100;
    height: 60px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.b{
    position: absolute;
    width: 260px;
    height: 28px;
    bottom: 543px;
    border: none;
    border-radius: 3px;
    background-color: rgb(248, 248, 248);
    outline: solid 1px silver;
    font-size: 14px;
    margin-left: 0px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.c{
    height: 30px;
    border: none;
    background-color: white;
}

.jungbo{
    display: none;
    margin-bottom: 7px;
}

.jungbo p{
    margin-right: 40px;
}

strong.n{
    position: absolute;
    width: 100px;
    bottom: 500px;
    right: 380px;
}
p.n{
    position: absolute;
    width: 100px;
    bottom: 465px;
    right: 380px;
}

.story{
    margin-left: 325px;
    margin-top: 28px;
}

.story p{
    font-size: 13px;
    font-weight: 550;
    margin-top: 6px;
}


#aa{
    width: 320px;
    height: 100px;
    background-color: cadetblue;
}

@media(min-width:560px){
    #aa{
        width: 560px;
        height: 200px;
        background-color: darkgoldenrod;
    }
    .box{
        height: 150px;
        width: 150px;
        border-radius: 70%;
        overflow: hidden;
    }

    .mlogo{
        display: flex;
        margin-right: 236px;
    }
    .minput{
        display: flex;
    }
    .profile{
        justify-content: start;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
        align-items: center;
        margin-left: 350px;
        margin-top: -14px;
    }
    
    .jungbo1{
        margin-top: 10px;
        align-items: center;
        display: flex;
        font-size: 29px;
        font-weight: 100;
        height: 60px;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    }

    .profileimg{
        margin-right: 95px;
    }
    .b{
        position: static;
        width: 100px;
        height: 28px;
        bottom: auto;
        border: none;
        border-radius: 3px;
        background-color: rgb(248, 248, 248);
        outline: solid 1px silver;
        font-size: 14px;
        margin-left: 23px;
        margin-right: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .jungbo{
        display: flex;
        margin-bottom: 7px;
    }
    
    .jungbo p{
        margin-right: 40px;
    }
    
    strong.n{
        position: static;
        width: auto;
        bottom: auto;
        right: auto;
    }
    p.n{
        position: static;
        width: auto;
        bottom: auto;
        right: auto;
    }

    .story{
        margin-left: 325px;
        margin-top: 28px;
    }
    
    .story p{
        font-size: 13px;
        font-weight: 550;
        margin-top: 6px;
    }
}